.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 319px;
}

.u-section-1 .u-group-1 {
  width: 559px;
  min-height: 210px;
  height: auto;
  margin: 59px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 9px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -150px 119px 60px auto;
  padding: 32px 56px 32px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 510px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 290px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
    margin-left: auto;
    margin-bottom: 43px;
  }
}